
body 
    font-family "PT Sans", sans-serif
    color #3f241e
    font-size 22px
    line-height 50px
    font-weight bold
    background #797979

.wrapper 
    max-width 1000px
    background url("../images/pattern.jpg")
    margin:0 auto
	@media desktop
		overflow: hidden
        
main,
footer 
    padding 0 110px
    padding-right 120px
    
    @media desktop
        padding-right 10px
        padding-left 10px
        max-width 790px
        margin-right auto
        margin-left auto
footer
    padding-bottom 60px