footer
    .field.field--short-date
        label(class='field__question field__question--short-date' for='1') Дата заполнения
        input(class='field__answer' type='text' name='text-1' id='1' value='06.05.2015')
