header.header
    .header__img-left
        img(src='assets/images/logo.png' alt='Логотип CSSSR' width='154px' height='55px')
    .header__img-right  
        img(src='assets/images/note.png' alt='Секретно' width='252' height='106')
